doctype
html
	head
		title= "Video stream"
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
	body
		#content(style='width: 850px; height: 500px; margin: 0 0 20px 0; border: solid 1px #999;')
			img#image(style='width: 850px; height: 450px;')
			#timestamp
			<br/>
			| &nbsp;Control:&nbsp;
			input#key(style='width:120px;')
			
