doctype
html
	head
		title= "Video stream"
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
	body
		#content(style='width: 850px; height: 480px; margin: 0 0 20px 0; border: solid 1px #999;')
			img#image(style='width: 850px; height: 450px;')
		#status
			span#timestamp
			| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pan:&nbsp; 
			span#pan 
			| &nbsp;&nbsp;Tilt:&nbsp; 
			span#tilt 
			| &nbsp;&nbsp;Zoom:&nbsp; 
			span#zoom
			| <br/><br/>
		#control
			| &nbsp;Control:&nbsp;
			input#key(style='width:120px;')
			| <br/><br/>
		#changed
			| Settings were last changed 
			span#lastChanged
			| &nbsp;by&nbsp;
			span#lastChangedBy
		input#guid(type="hidden" name="guid" value="#{guid}")
		div
			| <br/><b>Instructions:</b><br/>
			| &nbsp;&nbsp;&nbsp;&nbsp;Make sure the Control textbox has focus (click this textbox if the control keys aren't working).<br/>
			| &nbsp;&nbsp;&nbsp;&nbsp;Use up, left, down, right arrows for 5 degrees pan/tilt movement.<br/>
			| &nbsp;&nbsp;&nbsp;&nbsp;Use w, a, s, d keys for 1 degree up, left, down, right pan/tilt movement.<br/>
			| &nbsp;&nbsp;&nbsp;&nbsp;Use i, j, k, l keys for 30 degrees up, left, down, right pan/tilt movement.<br/>
			| &nbsp;&nbsp;&nbsp;&nbsp;Use page-up/page-down keys to zoom one step in/out.<br/><br/>
			| Note that the min/max pan/tilt range may be other than 0 to 180 degrees due to mechanical restrictions.<br/>
			| If the image is blank, the controller is down.  Notify your system administrator immediately!<br/>
		
		
			
