doctype
html
	head
		title= "Video stream"
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
	body
		#content(style='width: 850px; height: 480px; margin: 0 0 20px 0; border: solid 1px #999;')
			img#image(style='width: 850px; height: 450px;')
			span#timestamp
			| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pan:&nbsp; 
			span#pan 
			| &nbsp;Tilt:&nbsp; 
			span#tilt 
			| &nbsp;Zoom:&nbsp; 
			span#zoom
			| &nbsp;(
			span#lastControlledBy
			| )
		#control
			| &nbsp;Control:&nbsp;
			input#key(style='width:120px;')
		input#guid(type="hidden" name="guid" value="#{guid}")
		div
			| <br/><b>Instructions:</b><br/>
			| &nbsp;&nbsp;&nbsp;&nbsp;Make sure the Control textbox has focus.<br/>
			| &nbsp;&nbsp;&nbsp;&nbsp;up, left, down, right arrows - pan/tilt 5 degrees<br/>
			| &nbsp;&nbsp;&nbsp;&nbsp;w, a, s, d keys - up, left, down, right 1 degree<br/>
			| &nbsp;&nbsp;&nbsp;&nbsp;i, j, k, l keys - up, left, down, righ 30 degrees<br/>
		
		
			
